<div id="header-navbar-fixed-top" class="span12 navbar navbar-fixed-top">
     <div class="navbar-inner" class="row-fluid span12" id="searchbar-navbar">
            <!--<div class="row-fluid span11" id="searchbar-container">-->
              	 <div class="span12 clearfix" id="searchbar"> 
                	<div id="searchbar_inner" class="span8" >        
                   		<%= render_search_bar  %>
                	</div>
           			<div class="span4 nav-collapse"  id="searchbar_links">
               			<%= render :partial=>'/user_util_links' %>
                   	</div>
       		    </div>
    		<!--</div>-->
	</div>
</div>	
	
